body {
  text-align: center;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  margin: 20px 0;
}
h3 {
  line-height: 60px;
}
p {
  padding-bottom: 20px;
}
/* [class*='col-'] {
  padding: 20px;
} */
.container.grey {
  background-color: #f9f9f9;
}

#lezioni img {
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.row.col-lg-12 {
  margin-top: 50px;
}

#why img {
  height: 200px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
